:root {   
    /* Typography */
    --textXJumbo : 24px;
    --textJumbo : 20px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;

    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 30px;
    --roundedXLG : 24px;
    --roundedLG : 18px;
    --roundedMD : 14px;
    --roundedSM : 12px;
    --roundedMini : 6px;

    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;

    /* Color Pallete */
    --successBG : #00C363;
    --dangerBG : #DD0022;
    --warningBG : #FFC352;
    --infoBG : #1ba6f7;
    --infoLightBG : #E7F4FE;
    --hoverBG : #F2F2F2;
    --primaryColor : #3b82f6;
    --darkColor : #121725;
    --whiteColor : #FFFFFF;
    --greyColor : #adadad;
    --shadowColor : #E0E0E0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    color: var(--hoverBG);
    display: flex;
    height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background-color: var(--darkColor);
}

.container {
    border: 1.5px solid var(--whiteColor);
    padding: var(--spaceXMD);
    border-radius: var(--roundedLG);
}
  
h1 {
    margin-bottom: 1rem;
}
label {
    font-size: var(--textXMD);
    margin-bottom: var(--textXSM);
}
  
button {
    background-color: var(--infoBG);
    color: var(--whiteColor);
    padding: 0.5rem 1rem;
    font-size: var(--textXMD);
    border: none;
    border-radius: var(--roundedMD);
    cursor: pointer;
}
button:hover {
    background-color: var(--primaryColor);
}
.btn-tag {
    padding: var(--spaceXSM) var(--spaceSM);
    font-size: var(--textSM);
    display: inline-block;
    border-radius: var(--roundedSM);
    font-weight: 500;
}
  
/* Table */
table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    background-color: var(--darkColor);
    border: 1px solid var(--whiteColor);
    border-radius: 0.375rem;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
} 
table thead {
    background-color: var(--darkColor);
    font-size: 14px;
    font-weight: 500;
} 
table tbody {
    font-size: var(--textMD);
}
table th, table td {
    padding: 0.75rem;
    text-align: center;
    border: 1px solid var(--whiteColor);
}  
table tr:hover {
    background-color: var(--darkColor);
}
  
input, select, textarea {
    padding: var(--spaceXSM) var(--spaceMD);
    border-radius: var(--roundedLG);
    background: var(--darkColor);
    color: var(--whiteColor);
    margin-bottom: var(--spaceSM);
}

.divider {
    background: var(--whiteColor);
    height: 2px;
    margin: var(--spaceMD) 0;
    width: 100%;
}

/* Background */
.bg-success {
    background: var(--successBG);
}

.bg-danger {
    background: var(--dangerBG);
}

.sidebar {
    width: 60px;
    background-color: var(--infoBG);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spaceSM) 0;
    border-right: 1px solid #3c3c3c;
}

.sidebar-icon {
    font-size: var(--textJumbo);
    margin: 20px 0;
    color: var(--whiteColor);
    cursor: pointer;
    transition: color 0.2s;
}

.sidebar-icon:hover {
    color: var(--whiteColor);
}

.explorer {
    width: 300px;
    background-color: var(--darkColor);
    padding: var(--spaceSM);
    border-right: 1px solid #3c3c3c;
    overflow-y: auto;
}

.explorer h2 {
    font-size: var(--textXMD);
    color: var(--greyColor);
    margin-bottom: var(--spaceMini);
}

.folder, .file {
    padding-left: var(--spaceSM);
    margin: var(--spaceMini) 0;
    display: flex;
    align-items: center;
    gap: var(--spaceXSM);
    font-size: var(--textMD);
    cursor: pointer;
}

.folder i, .file i {
    width: var(--spaceMD);
}

.folder {
    font-weight: 500;
    color: var(--whiteColor);
    margin-bottom: var(--spaceXSM);
    padding: var(--spaceXXSM);
    width: 100%;
    background: transparent;
    text-align: start;
}
.folder:hover {
    background: rgb(69, 69, 69);
}

.tree {
    margin-left: var(--spaceXMD);
}

#main-content {
    flex: 1;
    padding: var(--spaceLG);
    background-color: var(--darkColor);
    color: var(--whiteColor);
    display: flex;
    flex-direction: column;       
    overflow-y: auto;            
    max-height: 100vh;            
    font-size: 1.5rem;
}
#content-wrapper {
    display: flex;
    flex-direction: column;  
}

.img {
    max-width: 15vw;
}

/* Apexchart */
.apexcharts-legend-text {
    color: var(--whiteColor) !important;
}
.apexcharts-yaxis-label, .apexcharts-xaxis-label, .apexcharts-title-text {
    fill: var(--whiteColor) !important;
}

/* Button */
.btn {
    cursor: pointer;
    padding: var(--spaceMD);
    border-radius: var(--roundedMD);
    font-size: var(--textXMD);
}
.btn-warning {
    background: var(--warningBG);
}
.btn-success {
    background: var(--successBG);
}
.btn-danger {
    background: var(--dangerBG);
}
.btn-primary {
    background: var(--primaryColor);
}

/* Modal */
.swal2-popup {
    border-radius: var(--roundedJumbo) !important;
    background: var(--darkColor);
    border: 1.75px solid var(--primaryColor);
    color: var(--whiteColor);
    box-shadow: rgba(59, 130, 246, 0.35) 0px 6px 17px;
}