* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    color: #faf7ff;
    display: flex;
    height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background-color: #1e1e1e;
    color: #ccc;
}

.container {
    border: 1.5px solid white;
    padding: 16px;
    border-radius: 20px;
}
  
h1 {
    margin-bottom: 1rem;
}
label {
    font-size: 14px;
    margin-bottom: 8px;
}
  
button {
    background-color: #8685ef;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 15px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}
button:hover {
    background-color: #6563de;
}
.btn-tag {
    padding: 8px 10px;
    font-size: 12px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 500;
}
  
table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
    background-color: #212121;
    border: 1px solid #faf7ff;
    border-radius: 0.375rem;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
} 
table thead {
    background-color: #212121;
    font-size: 14px;
    font-weight: 500;
} 
table tbody {
    font-size: 12.5px;
}
table th, table td {
    padding: 0.75rem;
    text-align: center;
    border: 1px solid #faf7ff;
}  
table tr:hover {
    background-color: #212121;
}
  
input, select {
    padding: 8px 12px;
    border-radius: 20px;
    background: #414141;
    color: #faf7ff;
    margin-bottom: 10px;
}

.divider {
    background: #faf7ff;
    height: 2px;
    margin: 12px 0;
    width: 100%;
}

.bg-success {
    background: #00c896;
}

.bg-danger {
    background: #ff83b1;
}

.sidebar {
    width: 60px;
    background-color: #252526;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-right: 1px solid #3c3c3c;
}

.sidebar-icon {
    font-size: 20px;
    margin: 20px 0;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.sidebar-icon:hover {
    color: #fff;
}

.explorer {
    width: 300px;
    background-color: #1e1e1e;
    padding: 10px;
    border-right: 1px solid #3c3c3c;
    overflow-y: auto;
}

.explorer h2 {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.folder, .file {
    padding-left: 10px;
    margin: 4px 0;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    cursor: pointer;
}

.folder i, .file i {
    width: 16px;
}

.folder {
    font-weight: 500;
    color: #f4f4f4;
    margin-bottom: 8px;
    padding: 6px 6px;
    width: 100%;
    background: transparent;
    text-align: start;
}
.folder:hover {
    background: rgb(69, 69, 69);
}

.tree {
    margin-left: 14px;
}

#main-content {
    flex: 1;
    padding: 20px;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#content-wrapper {
    display: flex;
    flex-direction: column;  
}

#main-content, #stats-content {
    width: 100%;
}

.img {
    max-width: 15vw;
}